.header-area{

    background: #3B5998;
    padding: 20px 0;
    color: #fff;
}

.header-area::after{
    content: '';
    display: block;
    clear: both;
}
.logo-area{
    width: 30%;
    float: left;
    padding-left: 25px;
    
}
img{
    height: 60px;
    width: 60px;
   border-radius: 20px;
}
.logo-area a{
    margin-top: 10px;
    display: block;
}
.middle-area{
    width: 90%;
    margin: auto;
}
.login-area{
    width: 90%;
   
}
.login-area form{
    float: right;
}
.login-area input{
    display: block;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #1d2a5b;
    
}
.login-area label{
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
}
.login-first{
    float: left;
}
.login-second{
    float: right;
    padding: 0 20px;
}

.login-second a{
    color: #9cb4d8;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.login-submit input{
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    margin-top: 60px;
    cursor: pointer;
    transition: .5s;
   
}
.login-submit input:hover{
    background: #365899;
    border: 1px solid #365899;
    
}


/*signup area start hear*/
.signup-left{
    width: 50%;
    float: left;
}
.signup-right{
    width: 50%;
    float: left;
}
.signup-area{
    background: linear-gradient(#fff, #D4D9E8);
}
.signup-area::after{
    content: '';
    display: block;
    clear: both;
}

.signup-left p{
    color: #0E385F;
    font-size: 20px;
    font-weight: bold;
    width: 70%;
}
.signup-right h2{
    color: black;
    font-size: 35px;
}
.signup-right> p{
    color: #333;
    font-size: 20px;
    margin: 10px 0;
}
.signup-right input[type=text], .signup-right input[type=password]{
    width: 100%;
    font-size: 14px;
    padding: 5px ;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid #bdc7d8;
    box-sizing: border-box;
}
.signup-right .username::after{
    content: '';
    display: block;
    clear: both;
}
.signup-right .username input:nth-child(1){
    width: 48%;
    float: left;

}
.signup-right .username input:nth-child(2){
    width: 48%;
    float: right;

}
.birth-day h3{
    color: #333;
    font-size: 20px;
    margin: 5px 0;
    font-weight: normal;
}
.bbb-option select{
   padding: 5px;
    font-size:15px;
    border: 1px solid #bdc7d8;

}
.birth-day::after{
    content: '';
    display: block;
    clear: both;
}
.bbb-option{
    float: left;
    margin-right: 10px;
}
.bb-link{
    float: left;
    width: 160px;
}
.bb-link a{
    color: #365899;
    font-size: 14px;
   
}
.gender{
    color: #333;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
}
p.policy{
    font-size: 16px;
    color: #777;
    width: 75%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p.policy a{
    color: #365899;
}
.signup-right input[type="submit"]{
    background: linear-gradient(#67ae55, #578843);
    padding: 10px 40px;
    font-size: 18px;
    color: #fff;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color:  #3b6e22 #3b6e22 #2c5115;
    border-radius: 5px;
    cursor: pointer;
}
.signup-right input[type="submit"]:hover{
    background: linear-gradient(#578843,#67ae55 );
}
.signup-right h4{
    color: #666;
    font-size: 16px;
}
.signup-right h4 a{
    color: #365899;
}
table{
    padding: 10px 10px;
}
table td{
    padding: 0 10px;
    color:#365899 ;
}
p.footer{
    margin-left: 20px;
    color: #1856c7;
}
.signup-right {
	width: 50%;
	float: left;
}
